.ad {
  display: none;
  padding: 58px 0 0;
  .container {
    position: relative;
    display: flex;
    width: 620px;
    margin: 0 auto;
    &:before {
      content: "";
      display: block;
      width: 240px;
      height: 277px;
      background-image: url("../img/icon-timer.svg");
      background-size: 100% 100%;
      margin-right: 69px;
    }
    &:after {
      content: "24";
      display: block;
      position: absolute;
      background-image: url("../img/icon-editor-diagram-fill.svg");
      background-size: 100% 100%;
      width: 203px;
      height: 203px;
      border-radius: 100%;
      box-sizing: border-box;
      top: 56px;
      left: 18px;
      color: $accent-color;
      font: $bold-font;
      font-size: 96px;
      line-height: 192px;
      padding: 0 46px;
    }
  }

  &__item {
    width: 308px;
  }
  &__title {
    font-size: 30px;
    line-height: 36px;
    margin: 38px 0 0;
    width: 170px;
  }
  &__text {
    margin: 10px 0;
  }
  &__link {
    text-decoration: underline;
  }
}
@media (min-width: 660px) {
  .ad {
    display: block;
  }
}
@media (min-width: 960px) {
  .ad {
    padding: 10px 0 67px;
    background: $light-bg-color;
    .container{
      width: 940px;
      &:before {
        width: 300px;
        height: 345px;
        margin-right: 66px;
      }
      &:after {
        width: 255px;
        height: 253px;
        top: 69px;
        left: 22px;
        font-size: 120px;
        line-height: 240px;
        padding: 0 58px;
      }
    }

    &__picture-wrapper {
      width: 300px;
      height: 345px;
      margin-right: 68px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__item {
      width: 530px;
    }
    &__title {
      line-height: 36px;
      margin: 91px 0 0;
      width: auto;
    }
    &__text {
      font-size: 18px;
      line-height: 30px;
      margin: 21px 0 31px;
    }
    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
