@import "variables";

body {
  margin: 0;
  font: 400 14px/24px 'Open Sans';
  color: $base-color;
}
h1,
h2 {
  margin: 0;
}
h1,
.promo-big-text,
.contacts__text,
.contacts__item-info,
.price-slider__list-cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
h2,
cite,
.price-slider__list-title,
.contacts__item-title,
.ad__title {
  font-size: 18px;
  font-weight: 700;
  color: $dark-color;
}
a {
  text-decoration: none;
  outline: none;
}
cite {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  vertical-align: bottom;
}


/* Forms */

.form-block,
.form__btns {
  border: none;
  padding: 0 20px;
  margin: 0;
}
.form-block {
  &__title {
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    margin: 0 auto;
  }
  &__input[type="checkbox"],
  &__input[type="radio"] {
    width: 38px;
    height: 38px;
    margin: 0;
  }
  &__input[type="checkbox"] + label,
  &__input[type="radio"] + label {
    font-size: 18px;
    margin-left: 31px;
  }
  &__input[type="text"],
  &__input[type="tel"],
  &__input[type="email"],
  .form-block__textarea {
    font: 400 14px/24px 'Open Sans';
    border: 2px solid $base-border-color;
    padding: 17px 20px 18px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    &::placeholder {
      color: $base-color;
    }
  }
  .form-block__textarea {
    line-height: 30px;
    padding: 14px 18px;
  }
}
.btn {
  display: block;
  text-align: center;
  border: none;
  border-radius: 3px;

  &--submit,
  &--popup {
    margin: 0 auto;
    color: $light-color;
    font: inherit;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    background: #2aab6d;
    text-transform: uppercase;
    padding: 16px 16px 17px;
    width: 100%;
  }
}
@media (min-width: 700px) {

  h1,
  .promo-big-text,
  .contacts__text,
  .price-slider__list-cost {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 960px) {

  h1,
  .promo-big-text,
  .contacts__text,
  .price-slider__list-cost {
    font-size: 50px;
    line-height: 60px;
  }
  h2,
  cite,
  .price-slider__list-title,
  .contacts__item-title,
  .ad__title {
    font-size: 30px;
    line-height: 32px;
  }
}
