@media (min-width: 320px) {
  .page-footer {
    display: block;
    &--index {
      display: none;
    }
    .container {
      width: 280px;
      margin: 0 auto;
      padding: 47px 0;
      text-align: center;
    }
  }
}

@media (min-width: 700px) {
  .page-footer {
    display: block;
    .container {
      width: 620px;
      margin: 0 auto;
      padding: 36px 0;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
    .logo,
    .author {
      width: 150px;
    }
    .author {
      text-align: right;
      align-self: center;
      margin-top: 9px;
      &__text {
        line-height: 28px;
        display: inline-block;
        margin-right: 11px;
      }
      &-logo__link {
        display: inline-block;
        width: 27px;
        height: 34px;
        vertical-align: middle;
      }
    }
  }
}
@media (min-width: 1200px) {
  .page-footer {
    .container {
      width: 940px;
      padding: 70px 0;
    }
  }
}
