.page-footer {
  display: block;
  &--index {
    display: none;
  }
  .container {
    width: 280px;
    margin: 0 auto;
    padding: 44px 0 53px;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 150px;
    height: 41px;
    margin: 0 auto 39px;
    &__picture {
      width: 100%;
      height: 100%;
    }
  }
  .author {
    width: 131px;
    align-self: center;
    margin-top: 39px;
    display: flex;
    align-items: center;
    &__text {
      margin-right: 15px;
      margin-top: -4px;
    }
    &-logo__link {
      display: inline-flex;
    }
    &-logo__link:hover > .author-logo__picture {
      fill: $base-color;
    }
    &-logo__picture {
      width: 27px;
      height: 34px;
      fill: $accent-color;
    }
  }
}

@media (min-width: 660px) {
  .page-footer {
    display: block;
    .container {
      width: 620px;
      margin: 0 auto;
      padding: 36px 0;
      text-align: center;
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      margin: 0;
      &__picture {
        width: 100%;
        height: 100%;
      }
      &__picture--mobile {
        display: block;
      }
      &--bottom:active {
        path {
          opacity: 0.3;
        }
      }
    }
    .author {
      text-align: right;
      margin-top: 7px;
      margin-right: -3px;
      &__text {
        line-height: 28px;
        display: inline-block;
        margin-right: 13px;
      }
    }
  }
}
@media (min-width: 960px) {
  .page-footer {
    .container {
      width: 940px;
      padding: 70px 0;
    }
    .author {
      margin-top: 8px;
      margin-right: 23px;
      &__text {
        font-size: 18px;
        line-height: 30px;
        display: inline-block;
        margin-right: 14px;
        margin-top: -8px;
      }
      &-logo__link {
        display: inline-block;
        width: 27px;
        height: 34px;
        vertical-align: middle;
      }
    }
  }
}
