@import "variables";
.container {
  width: 100%;
  max-width: 959px;
  margin: 0 auto;
  box-sizing: border-box;
}
#contest-form {
  .form-block,
  .form__btns {
    &__wrapper {
      margin-bottom: 20px;
    }
    &--member,
    &--contacts {
      .form-block__field {
        display: flex;
        flex-direction: column;
      }
      /*label,
      input {
        display: block;
      }*/
      label {
        color: $accent-color;
        text-transform: uppercase;
        margin-left: 22px;
      }
      input {
        margin-top: 8px;
      }
    }
    &--member {
      padding-bottom: 23px;
    }
    &--contacts {
      padding-top: 32px;
      padding-bottom: 34px;
    }
    &--trip-achivements {
      background: $light-bg-color;

      padding-bottom: 6px;
      .form-block__title {
        width: 260px;
        margin: 36px auto 39px;
      }
      .form-block__wrapper {
        margin-bottom: 44px;
      }
      .form-block__field {
        display: flex;
        align-items: center;
      }
    }
    &--trip-app {
      background: $light-bg-color;
      padding-bottom: 8px;
      .form-block__title {
        margin: 36px auto 35px;
      }
      .form-block__wrapper {
        margin-bottom: 36px;
      }
      .form-block__field {
        display: flex;
        align-items: center;
      }
    }
    &--emotions {
      padding-top: 57px;
      .form-block__title {
        margin-bottom: 17px;
      }
      .form-block__textarea {
        min-height: 201px;
      }
    }
  }
  .form__btns {
    margin-top: 40px;
  }
  .hint {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 38px;
    .required-sign {
      color: $accent-color;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
@media (min-width: 620px) {
  #contest-form {
    display: flex;
    flex-direction: column;
    .form-block {
      padding: 0 40px;
      background: none;
      &--member,
      &--contacts {
        .form-block__field {
          flex-direction: row;
          align-items: center;
        }
      }
      &--contacts {
        order: 3;
        .form-block__label {
          display: flex;
          flex-direction: column-reverse;
        }
      }
      &--trip-achivements {
        order: 4;
      }
      &--emotions {
        order: 5;
        .form-block__textarea {
          width: 500px;
          margin: 0 auto;
          display: block;
        }
      }
      &__title {
        text-align: center;
      }
    }
    label {
      margin-left: 0;
      margin-right: 22px;
    }
    .form__btns {
      order: 6;
      display: flex;
      justify-content: space-between;
    }
  }
}
@media (min-width: 1200px) {
  #contest-form {
    width: 940px;
    flex-flow: row wrap;
    .form-block,
    .form__btns {
      flex: 100%;
      &--member,
      &--trip-app {
        flex: 1;
      }
      &--trip-achivements {
        .filedset__list{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .form-block__wrapper {
            width: 30%;
          }
        }
      }
    }
  }
}
