@import "variables";
.container {
  width: 100%;
  max-width: 959px;
  margin: 0 auto;
  box-sizing: border-box;
}
#contest-form {
  .form-block,
  .form__btns {
    border: none;
    padding: 0 20px;
    margin: 0;

    &__wrapper {
      margin-bottom: 20px;

    }

    &--member,
    &--contacts {
      label,
      input {
        display: block;
      }
      label {
        color: $accent-color;
        text-transform: uppercase;
        margin-left: 22px;
      }
      input {
        margin-top: 8px;
      }
    }
    &--contacts {
      padding-top: 32px;
      padding-bottom: 15px;
    }
    &__title {
      color: $accent-color;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      width: 260px;
      top: 54px;
      line-height: 18px;
      margin-bottom: 60px;
      margin: 0 auto 93px;
    }

    &__input[type="checkbox"],
    &__input[type="radio"] {
      width: 38px;
      height: 38px;
      margin: 0;
    }
    &__input[type="checkbox"] + label,
    &__input[type="radio"] + label {
      font-size: 18px;
      margin-left: 31px;
    }

    &__input[type="text"],
    &__input[type="tel"],
    &__input[type="email"],
    textarea {
      font: 400 14px/24px 'Open Sans';
      border: 2px solid $base-border-color;
      padding: 17px 20px 18px;
      font-size: 18px;
      border-radius: 3px;
      width: 100%;
      box-sizing: border-box;
      &::placeholder {
        color: $base-color;
      }
    }
    &--trip-achivements {
      background: $light-bg-color;
      margin-top: 6px;
      padding-bottom: 6px;
      .form-block__wrapper {
        margin-bottom: 44px;
      }
      .form-block__field {
        display: flex;
        align-items: center;
      }
    }
    &--trip-app {
      background: $light-bg-color;
      padding-bottom: 8px;
      .form-block__title {
        margin-bottom: 90px;
      }
      .form-block__wrapper {
        margin-bottom: 36px;
      }
      .form-block__field {
        display: flex;
        align-items: center;
      }
    }
    &--emotions {
      margin-top: 3px;
      .form-block__title {
        margin-bottom: 71px;
      }
      textarea {
        line-height: 30px;
        padding: 14px 18px;
        min-height: 201px;
      }
    }
  }
  .form__btns {
    margin-top: 40px;
    .btn--submit {
      margin: 0 auto;
      color: $light-color;
      font: inherit;
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
      background: #2aab6d;
      text-transform: uppercase;
      padding: 16px 16px 17px;
      width: 100%;
    }
  }
  .hint {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 38px;
    .required-sign {
      color: $accent-color;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
@media (min-width: 700px) {
  #contest-form {
    width: 620px;
    display: flex;
    flex-direction: column;
    .form-block {
      &--member {
        label,
        input {
          display: inline-block;
        }
      }
      &--contacts {
        order: 3;
        .form-block__label {
          display: flex;
          flex-direction: column-reverse;
        }
      }
      &--trip-achivements {
        order: 4;
      }
      &--emotions {
        order: 5;
        .form-block__textarea {
          width: 500px;
          margin: 0 auto;
          display: block;
        }
      }
      &__title {
        text-align: center;
      }
    }
    .form__btns {
      order: 6;
      display: flex;
      justify-content: space-between;
    }
  }
}
@media (min-width: 1200px) {
  #contest-form {
    width: 940px;
    flex-flow: row wrap;
    .form-block,
    .form__btns {
      flex: 100%;
      &--member,
      &--trip-app {
        flex: 1;
      }
      &--trip-achivements {
        .filedset__list{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .form-block__wrapper {
            width: 30%;
          }
        }
      }
    }
  }
}
