@media (min-width: 320px) {
  .page-header {
    background-color: #abc;

    .page-header__bar {
      background-color: #aaf;
      padding: 6.25%;
    }
    .logo {
      float: left;
    }
    .menu__button {
      display: block;
      width: 50px;
      height: 25px;
      background: #fff;
      float: right;
    }
    .menu {
      background-color: #aef;
      clear: both;
    }
    .intro {
      background-color: #fee;
      &__slogan {
        background-color: pink;
      }
      &__app {
        background-color: violet;
      }
      .container {
        padding: 6.25%;
      }
      .application__item {
        width: 33.3333%;
        display: block;
        float: left;
      }
      &__app-info {
        text-align: center;
      }
    }
  }
}
