@import "variables";
@import "mixins";

@media (min-width: 320px) {
  .page-header {
    //background: url('../img/bg-back-mobile.jpg') no-repeat -190px 0;
    background-color: #8CC0D4;

    &__bar {
      background: rgba(#000, 0.3);
      position: absolute;
      z-index: 999;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      z-index: 2;
    }
    .logo-link {
      display: block;
    }
    .menu__button {
      position: relative;
      z-index: 2;
      display: block;
      width: 50px;
      height: 25px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        //transition: background-color 0.5s ease-out 0.5s, box-shadow 0.5s ease-out 0.5s;
        background-color: $light-text-color;
        box-shadow:
          0 10px 0 0 $light-text-color,
          0 20px 0 0 $light-text-color;
      }
      &:hover {
        &:before {
          background-color: $accent-text-color;
          box-shadow:
            0 10px 0 0 $accent-text-color,
            0 20px 0 0 $accent-text-color;
        }
      }
      &:active {
        &:before {
          background-color: rgba($accent-text-color, 0.3);
          box-shadow:
            0 10px 0 0 rgba($accent-text-color, 0.3),
            0 20px 0 0 rgba($accent-text-color, 0.3);
        }
      }
    }
    .menu {
      position: absolute;
      width: inherit;
      z-index: 1;
      top: 0;
      left: 0;
      display: none;
      &__list {
        padding-top: 70px;
        background-color: #283645;
        border-bottom: 1px solid #000;
      }
      &__link {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        padding: 19px 15px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          border-top: 1px solid #000;
          box-sizing: border-box;
          position: absolute;
          top: -2px;
          left: 0;
        }
      }
    }
    .intro {
      display: flex;
      flex-wrap: wrap;
      &__slogan {
        color: $light-text-color;
        text-align: center;
        align-self: flex-start;
        margin: 85px 30px;
      }
      &__app {
        @include set-color(#1d2631);
        width: 100%;
        align-self: flex-end;
      }
      &__app-wrapper {
        margin: 28px 20px 30px;
      }
      .btn--download {
        background-color: transparent;
        transition: background-color 0.2s ease-out 0.2s, color 0.2s ease-out 0.2s;
        color: $light-text-color;
        font-size: 18px;
        font-weight: 700;
        border: 3px solid $light-text-color;
        border-radius: 50px;
        padding: 11px 0 14px;
        &:hover {
          background: $light-text-color;
          color: $accent-text-color;
        }
        &:active {
          color: rgba($accent-text-color, .3);
        }
      }
      &__app-list {
        display: flex;
        justify-content: space-between;
        margin: 33px 37px 20px;
        align-items: baseline;
      }
      .application__item {
        display: block;
        width: 57px;
        height: 57px;
        &--ios {
          background: url('../img/logo-apple.svg') no-repeat 0px -1px;
        }
        &--android {
          background: url('../img/logo-android.svg') no-repeat 7px 7px;
        }
        &--microsoft {
          background: url('../img/logo-microsoft.svg') no-repeat 12px 11px;
        }
      }
      &__app-info {
        text-align: center;
        font-weight: 300;
      }
    }
    &--index {
      .intro {
        min-height: 729px;
      }
      & ~ .main .promo-big-text {
        padding: 41px 0 34px;
        .line:first-child {
          margin-bottom: 31px;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .page-header {
    &__bar {
      padding: 40px;
    }
    .intro {
      &__app {
        margin-bottom: 92px;
        margin-top: -55px;
        @include set-color(transparent);
        &-wrapper {
          margin: 0;
        }
        &-list {
          margin: 45px 45px 36px;
        }
        &-info {
          font-size: 18px;
        }
      }
      .application__item {
        &--ios {
          background-position: 1px 1px;
        }
        &--microsoft {
          background-position: 9px 13px;
        }
      }
    }

    &--index {
      .intro {
        padding-top: 118px;
        margin: 0 40px;
        width: 300px;
        min-height: 611px;
      }
      & ~ .main .promo-big-text {
        width: auto;
        padding: 49px 0 34px;
        .line:first-child {
          margin: 0
        }
        .line:last-child {
          width: 55%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .page-header {
    &__bar {
      padding: 27px 130px;
      .logo {
        width: 150px;
        height: 45px;
        align-self: flex-start;
      }
      .menu {
        display: block;
        width: 622px;
        position: relative;
        &__list {
          background: none;
          border: none;
          padding: 0;
          display: flex;
          justify-content: space-between;
        }
        &__item {
          &:first-child {
            margin-left: 0;
          }
        }
        &__link {
          border: none;
          font-weight: 300;
          text-transform: capitalize;
          padding: 15px 0;
          &:before {
            display: none;
          }
        }
      }
      .menu__button {
        display: none;
      }
    }
    .intro {
      margin: 0 130px;
      &__slogan {
        margin: 101px 30px 52px;
      }
      &__app {
        margin-top: 0;
        margin-bottom: 103px;
        .btn--download {
          font-size: 22px;
          padding: 10px 0 15px;
        }
        &-list {
          margin: 66px 45px 56px;
        }
      }
    }
    &--index {
      & ~ .main .promo-big-text {
        width: auto;
        padding: 67px 0 58px;
      }
    }
  }
}
