@import "variables";
@import "mixins";
.page-header {
  background-image: url('../img/bg-back-mobile.jpg');
  background-repeat: no-repeat;
  background-position: -189px 0;
  background-size: 800px auto;
  //margin-bottom: 41px;
  &__bar {
    background: rgba($dark-color, 0.3);
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    z-index: 2;
    width: 75px;
    &__picture {
      width: 100%;
      height: 100%;
    }
  }
  .logo-link {
    display: block;
  }
  .menu__button {
    position: relative;
    z-index: 2;
    display: block;
    width: 50px;
    height: 25px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4px;
      //transition: background-color 0.5s ease-out 0.5s, box-shadow 0.5s ease-out 0.5s;
      background-color: $light-color;
      box-shadow:
        0 10px 0 0 $light-color,
        0 20px 0 0 $light-color;
    }
    &:hover {
      &:before {
        background-color: $accent-color;
        box-shadow:
          0 10px 0 0 $accent-color,
          0 20px 0 0 $accent-color;
      }
    }
    &:active {
      &:before {
        background-color: rgba($accent-color, 0.3);
        box-shadow:
          0 10px 0 0 rgba($accent-color, 0.3),
          0 20px 0 0 rgba($accent-color, 0.3);
      }
    }
  }
  .menu {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    &__list {
      padding-top: 70px;
      background-color: $base-color;
      border-bottom: 1px solid $dark-color;
    }
    &__link {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      color: $light-color;
      padding: 19px 15px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid rgba($light-color, 0.15);
        border-top: 1px solid $dark-color;
        box-sizing: border-box;
        position: absolute;
        top: -2px;
        left: 0;
      }
    }
  }
  .intro {
    .container {
      display: flex;
      flex-wrap: wrap;
      min-height: 236px;
      padding: 65px 0 0 0;
    }
    &__slogan {
      color: $light-color;
      text-align: center;
      align-self: flex-start;
      margin: 30px 30px 52px;
      width: 100%;
    }
    &__app {
      //@include set-color(spin(darken($base-color, 0.065), 2) + 1);
      @include set-color($base-color);
      align-self: flex-end;
      width: 100%;
    }
    &__app-wrapper {
      margin: 28px 20px 30px;
    }
    .btn--download {
      background-color: transparent;
      color: $light-color;
      padding: 8px 0 11px;
      &:hover {
        background: $light-color;
        color: $accent-color;
      }
      &:active {
        color: rgba($accent-color, .3);
      }
    }
    &__app-list {
      display: flex;
      justify-content: space-between;
      margin: 33px 37px 20px;
      align-items: baseline;
    }
    .application__item {
      display: block;
      width: 57px;
      height: 57px;
      &--ios {
        background: url('../img/logo-apple.svg') no-repeat 0px -1px;
      }
      &--android {
        background: url('../img/logo-android.svg') no-repeat 7px 7px;
      }
      &--microsoft {
        background: url('../img/logo-microsoft.svg') no-repeat 12px 11px;
      }
    }
    &__app-info {
      text-align: center;
      font-weight: 300;
    }
    &--index {
      background-image: url('../img/iphone-hand-mobile.png');
      background-position: 0 172px;
      background-repeat: no-repeat;
      background-size: 258px;
      .container {
        min-height: 729px;
      }
      .intro__slogan {
        margin: 20px 30px;
      }
    }
  }
}
@media (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url('../img/bg-back-mobile@2x.jpg');
    .intro--index {
      background-image: url('../img/iphone-hand-mobile@2x.png');
    }
  }
}
@media (min-width: 620px) {
  .page-header {
    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-size: 1200px auto;
    &__bar {
      padding: 26px 40px 43px;
      .logo {
        width: 150px;
      }
      .menu {
        &__button {
          align-self: flex-end;
        }
        &__list {
          padding-top: 110px;
        }
      }
    }
    .intro {
      .container {
        padding-top: 110px;
      }
      .intro__slogan {
        font-size: 40px;
        line-height: 48px;
      }

      &__app {
        margin-bottom: 92px;
        margin-top: -58px;
        @include set-color(transparent);
        &-wrapper {
          margin: 0;
        }
        &-list {
          margin: 45px 45px 36px;
        }
        &-info {
          font-size: 18px;
        }
      }
      .application__item {
        &--ios {
          background-position: 1px 1px;
        }
        &--microsoft {
          background-position: 9px 13px;
        }
      }
      &--index {
        background-image: url('../img/iphone-hand-tablet@1x.png');
        background-size: 700px auto;
        background-position: 0 184px;
        .container {
          min-height: 619px;
          width: 300px;
          margin: 0 40px;
        }
        .intro__slogan {
          margin: 28px 30px 89px;
        }
      }
      &--contest,
      &--photos {
        .intro__slogan {
          font-size: 50px;
          line-height: 60px;
          margin: 70px 46px 80px;
        }
      }
      &--photos {
        .container {
          min-height: 440px;
        }
      }
    }
  }
  @media (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url('../img/bg-back-tablet@2x.jpg');
      .intro--index {
        background-image: url('../img/iphone-hand-tablet@2x.png');
      }
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    background-image: url('../img/bg-back-desktop.jpg');
    background-size: 2560px auto;
    &__bar {
      padding: 26px 130px 33px;
      .logo {
        width: 150px;
        height: 45px;
        align-self: flex-start;
      }
      .menu {
        display: block;
        width: 620px;
        position: relative;
        margin-top: 5px;
        &__list {
          background: none;
          border: none;
          padding: 0;
          display: flex;
          justify-content: space-between;
        }
        &__item {
          &:first-child {
            margin-left: 0;
          }
        }
        &__link {
          border-bottom: 2px solid transparent;
          font-weight: 300;
          text-transform: capitalize;
          padding: 10px 0;
          &:before {
            display: none;
          }
          &:hover {
            border-color: $light-color;
          }
          &:active {
            color: rgba($light-color, 0.3);
            border-color: rgba($light-color, 0.3);
          }
        }
      }
      .menu__button {
        display: none;
      }
    }
    .intro {
      &__app {
        margin-top: 0;
        margin-bottom: 104px;
        .btn--download {
          font-size: 22px;
        }
        &-list {
          margin: 66px 43px 55px 46px;
        }
        .application__item--android {
          background-position: 6px 9px;
        }
      }
      &--index {
        background-image: url('../img/iphone-hand-desktop@1x.png');
        background-size: 1050px auto;
        background-position: 146px 209px;
        .container {
          margin: 0 130px;
        }
        .intro__slogan {
          margin: 43px 30px 52px;
          font-size: 50px;
          line-height: 60px;
        }
      }
      &--contest {
        .container {
          min-height: 394px;
        }
        .intro__slogan {
          margin: 63px 85px 80px;
        }
      }
      &--photos {
        .container {
          min-height: 393px;
        }
        .intro__slogan {
          margin: 63px 275px 80px;
        }
      }
    }
  }
  @media (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url('../img/bg-back-desktop.jpg');// 2x is absent in assets
      .intro--index {
        background-image: url('../img/iphone-hand-desktop@2x.png');
      }
    }
  }
}
@media (min-width: 960px) and (max-width: 1100px) {
  .page-header {
    &__bar {
      padding: 26px 70px 33px;
      .menu {
        width: 550px;
      }
    }
  }
}
