.promo-text,
.promo-big-text {
  text-align: center;
}
.promo-text {
  line-height: 30px;
  &--contest {
    width: 280px;
    margin: 45px auto 37px;
  }
}
.promo-big-text {
  margin: 0 auto;
  padding: 41px 0 34px;
  position: relative;;
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 33px;
    background: url(../img/bg-triangle-white.svg);
    background-size: cover;
  }
  .line {
    display: block;
    &:first-child {
      margin-bottom: 31px;
    }
  }
}
.features {
  background-color: $light-bg-color;
  text-align: center;
  overflow: hidden;
  position: relative;


  .container {
    padding: 80px 19px 0;
  }
  &__wrapper {
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 31px;
  }
  &__title {
    margin-bottom: -2px;
  }
  &__picture-wrapper {
    z-index: 2;
    display: none;
    overflow: hidden;
    max-height: 278px;
    .features__picture {
      width: 157px;
      height: 320px;
    }
    &:last-child {
      display: block;
    }
  }
}
.ad {
  display: none;
}
/* Reviews begin */
.reviews {
  text-align: center;
  margin: 45px 20px 20px;
  overflow: hidden;


  &__wrapper {
    display: flex;
    width: 300%;
    margin-left: 0;
    transition: margin-left 1s ease-out 0.5s;
  }
  #review-2:checked ~ &__wrapper {
    margin-left: -100%;
  }
  #review-3:checked ~ &__wrapper {
    margin-left: -200%;
  }
  .review__item {
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    &-author {
      flex: 1 100%;
      margin-bottom: 2px;
    }
    &-author-info {
      display: none;
    }
    &-text {
      line-height: 30px;
      &:before,
      &:after {
        display: inline-block;
      }
      &:before {
        content: '«';
        display: inline-block;
      }
      &:after {
        content: '»';
        display: inline-block;
      }
    }
  }
}

/* Reviews end */

/* Price slider begins */
.price-slider {
  background-color: $light-bg-color;
  overflow: hidden;
  padding: 96px 20px 29px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 0;
    width: 100%;
    height: 62px;
    background: url(../img/bg-triangle-white.svg) 0 0 no-repeat;
    background-size: cover;
  }
  &__wrapper {
    width: 300%;
    display: flex;
    margin-bottom: 40px;
    transition: margin-left 1s ease-out 0.5s;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
    box-sizing: border-box;
  }
  &__list-header {
    @include set-color($base-color);
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 19px 0 21px;
  }
  &__list-title {
    color: inherit;
  }
  &__list-cost {
    margin-top: 6px;
  }
  #slide-price-2:checked ~ &__wrapper {
    margin-left: -100%;
  }
  #slide-price-3:checked ~ &__wrapper {
    margin-left: -200%;
  }
  &__list {
    width: 100%;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
    box-sizing: border-box;
    text-transform: uppercase;
    &--column {
      display: none;
      .price-slider__list-header {
        @include set-color(transparent);
        height: 49px;
        border-bottom: 2px solid $base-border-color;
      }
    }

    &--hit {
      .price-slider__list-header {
        &:before {
          content: 'Хит';
          display: block;
          background-color: #d22856;
          transform: rotate(-45deg);
          width: 98px;
          height: 28px;
          position: absolute;
          top: 12px;
          left: -25px;
          line-height: 26px;
          font-weight: 700;
        }
      }
    }
  }
  &__item {
    border-bottom: 2px solid $base-border-color;
    padding: 17.5px 22px;
  }
}
/* Price slider ends */

/* Contacts begin */
.contacts {

  text-align: center;
  padding: 43px 0 0;
  .container {
    width: 280px;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__item {
    margin-bottom: 19px;
    &-info {
      color: $accent-color;
    }
    a:active {
      color: rgba($base-color, 0.3);
    }
    a:hover {
      color: $base-color;
      text-decoration: underline;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item--address {
    .contacts__item-info {
      margin: 0;
    }
  }
  &__item-title {
    display: block;
    margin-bottom: 2px;
  }
  .map {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    .YMaps-copyrights,
    .YMaps-logo-link {
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:url('../img/bg-triangle-white-footer.svg') left top no-repeat;
      background-size: 100% auto;
    }
  }
}
/* Contacts end */

/* Photos begin */

.photo-post {
  width: 280px;
  margin: 0 auto 20px;
  &__picture-link {
    display: block;
    height: 100%;
  }
  .photo-post__picture-wrapper {
    width: 100%;
    height: 140px;
  }
  .photo__info {
    background-color: #077FF7;
    margin: 0;
    padding: 15px;
  }
  .photo-like__btn {
    display: flex;
  }
  &--pano {
    width: 100%;
    .photo-post__picture-wrapper {
      height: auto;
    }
    .photo__info {
      width: 250px;
      margin: 0 auto;
    }
  }
}
.photos-upload {
  background-color: #B8A0B7;
  padding: 20px;
  .upload__buttons {
    .btn {
      width: 100%;
    }
  }
}

@media (min-width: 620px) {
  .promo-big-text {
    width: 72%;
    margin: 0 auto;
    .line {
      display: block;
    }
    &--index {
      width: auto;
      padding: 49px 0 34px;
      .line:first-child {
        margin: 0
      }
      .line:last-child {
        width: 55%;
        margin: 0 auto;
      }
    }
    &:after {
      height: 80px;
      bottom: -66px;
    }
  }
  .features {

    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 620px;
      margin: 0 auto;
      padding: 17px 0 0;
    }
    &__wrapper {
      text-align: left;
      width: 310px;
      padding-top: 70px;
      margin-bottom: 0;
    }
    &__item {
      margin-bottom: 34px;
    }

    &__picture-wrapper {
      max-height: 482px;
      .features__picture {
        width: 269px;
        height: 548px;
      }
    }
  }
  .ad {
    display: block;
    padding: 57px 0 0;
    .container {
      display: flex;
      width: 620px;
      margin: 0 auto;
    }
    &__picture-wrapper {
      margin-right: 69px;
    }
    &__item {
      width: 308px;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
      margin: 38px 0 0;
      width: 170px;
    }
    &__text {
      margin: 10px 0;
    }
    &__link {
      color: $accent-color;
      text-decoration: underline;
    }
  }
  /* Reviews begin */
  .reviews {
    width: 620px;
    margin: 80px auto 19px;
    .review__item {
      flex-direction: column-reverse;

      &-author {
        font-size: 20px;
        margin: 20px 0 0;
        &-info {
          font-size: 14px;
          font-weight: 300;
          line-height: 40px;
          margin: 0
        }
      }

      &-text {
        font-size: 18px;
      }
    }
    .review__item-author-info {
      display: block;
    }
  }
  /* Reviews end */

  /* Price slider begins */
  .price-slider {
    padding: 90px 0 68px;
    &__wrapper {
      width: 620px;
      border: none;
      & + .price-slider__controls {
        display: none;
      }
    }
    #slide-price-1,
    #slide-price-2,
    #slide-price-3 {
      &:checked ~ .price-slider__wrapper {
        margin: 0 auto;
      }
    }
    &__item {
      height: 25px;
      text-transform: none;
      padding: 10px 14px;
      border-left: 2px solid $base-border-color;
      background: $light-color;
      &:first-letter {
        text-transform: capitalize;
      }
      span {
        display: none;
      }
    }
    &__list {
      border: 0;
      &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        .price-slider__list-header {
          border-left: 2px solid $base-border-color;
        }
      }
      &:last-child {
        .price-slider__item {
          border-right: 2px solid $base-border-color;
        }
      }
      &-header {
        padding: 15px 0 13px;
      }
      &--column {
        display: block;
      }
      &--hit {
        .price-slider__list-header:before {
          top: 6px;
          left: -29px;
        }
      }
      &-title {
        font-size: 16px;
        font-weight: 700;
      }
      &-cost {
        margin-top: 3px;
        font-size: 18px;
        line-height: 24px;
      }
    }

  }
  /* Price slider ends */

  /* Contacts begin */
  .contacts {
    padding: 46px 0 0;
    .container {
      display: flex;
      flex-flow: row wrap;
      width: 640px;
    }
    &__text {
      width: 380px;
      margin: 0 auto 43px;
    }
    &__item  {
      width: 50%;
      margin-bottom: 43px;
      &--address {
        width: 100%;
        .contacts__item-info {
          width: 295px;
          margin: 0 auto;
        }
      }
      &-title {
        margin-bottom: 7px;
      }
    }
    .map {
      height: 378px;
      margin-top: 25px;
    }
  }
  /* Contacts end */

  /* Photos begin */
  .photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .photo-post {
    width: 300px;
    margin: 0 10px;
    min-height: 457px;
    .photo-post__picture-wrapper {
      height: 300px;
    }
    &.photo-post--pano {
      flex: 1 100%;
      margin: 0 0 50px;

      .photo-post__picture-wrapper {
        height: 512px;
      }
      .photo__info {
        display: flex;
        flex-wrap: wrap;
        width: 570px;
        padding: 25px;
        .photo__author {
          order: 1;
        }
        .photo__date {
          order: 2;
        }
        .photo-like__btn {
          order: 3;
        }
        .photo__comment {
          order: 4;
        }
      }
    }
    .photo-like__btn {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  .photos-upload {
    padding: 40px;
    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
    }
    &-item {
      margin-right: 45px;
      width: 300px;
      height: 100%;
    }
    &__edit {
      background: #000;
      width: 44.3549%;
      height: 220px;
    }
    .upload__buttons {
      width: 44.3549%;
    }
  }
}
@media (min-width: 960px) {
  .promo-big-text {
    &--index {
      width: auto;
      padding: 67px 0 58px;
    }
  }
  .features {
    .container {
      flex-wrap: wrap;
      width: 955px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-around;;
      order: 1;
      width: 100%;
      text-align: center;
      padding-top: 56px;
    }
    &__item {
      width: 240px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 18px;
      line-height: 30px;
      margin: 23px 0;
    }
    &__picture-wrapper {
      display: block;
      width: 300px;
      max-height: 300px;
      .features__picture {
        width: 187px;
        height: 380px;
      }
    }
  }
  .ad {

    .container{
      width: 940px;
    }
    padding: 10px 0 71px;
    background: $light-bg-color;
    &__picture-wrapper {
      width: 300px;
      height: 345px;
      margin-right: 68px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__item {
      width: 530px;
    }
    &__title {
      line-height: 36px;
      margin: 95px 0 0;
      width: auto;
    }
    &__text {
      font-size: 18px;
      line-height: 30px;
      margin: 20px 0 31px;
    }
    &__link {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .reviews {
    width: 690px;
    margin: 167px auto 19px;
    .review__item {
      &-text {
        &:before,
        &:after {
          display: none;
        }
      }
      &-author {
        font-size: 24px;
        margin: 17px 0 0;
        &-info {
          font-size: 18px;
          line-height: 30px;
          margin-top: 2px;
        }
      }
    }
  }
  .price-slider {
    padding: 127px 0 95px;
    &__wrapper {
      width: 940px;
    }
    &__list {
      &-header {
        padding-bottom: 24px;
      }
      &-title {
        font-size: 18px;
      }
      &-cost {
        font-size: 24px;
        margin-top: 5px;
      }

      &--column {
        .price-slider__list-header {
          height: 58px;
        }
      }
      &--hit {
        .price-slider__list-header:before {
          top: 14px;
          left: -31px;
          width: 113px;
          height: 30px;
        }
      }
    }
    &__item {
      font-size: 18px;
      padding: 17px 22px;
    }
  }
  .contacts {
    padding-top: 64px;
    &__text {
      width: 470px;
      margin-bottom: 53px;
    }
    .container {
      width: 960px;
      justify-content: space-around;
    }
    &__item {
      width: 33.3333%;
      &-title {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
      }
      &--phone {
        order: 1;
      }
      &--email {
        order: 3;
      }
      &--address {
        order: 2;
      }
    }
    .map {
      height: 510px;
      margin-top: -3px;
    }
  }
  /* Photos begin */
  .photo-post {
    margin-bottom: 20px;
    .photo-post__picture-wrapper {
      height: 400px;
    }
    &.photo-post--pano {
      .photo-post__picture-wrapper {
        height: 506px;
      }
      .photo__info {
        width: 900px;
        padding: 20px;
      }
    }
  }
  .container {
    justify-content: flex-start;
  }
  .photos-upload {
    margin: 0 130px;
    padding: 60px 60px 60px 80px;

    &-item {
      margin-right: 90px;
    }
    &__edit {
      width: 51.25%;
    }
    .upload__buttons {
      display: flex;
      justify-content: space-between;
      width: 51.25%;
    }
  }
}
