@import "main-blocks";

.main {
  background-color: #fea;

  .features {
    background-color: #feac0c;
  }
  .reviews {
    background-color: #8AC5F2;
  }
  .price-slider {
    background-color: #0BBFB6;
  }
  .contacts {
    background-color: #260D80;
  }

  //photos
  .photo-post {
    background-color: #077FF7;
  }
  .photos-upload {
    background-color: #B8A0B7;
  }
}
