.photo-post {
  width: 280px;
  margin: 0 auto 20px;
  &__picture-link {
    display: block;
    height: 100%;
  }
  .photo-post__picture-wrapper {
    width: 100%;
    height: 180px;
  }
  .photo {
    width: 100%;
    height: 100%;
  }
  .photo__info {
    background-color: $light-bg-color;
    margin: 0;
    padding: 18px 17px 20px;
    box-sizing: border-box;
  }
  .photo__author {
    font-size: 14px;
  }
  .photo__date {
    font-size: 12px;
    text-transform: uppercase;
  }
  .photo__comment {
    margin: -1px 0 10px;
  }
  .photo-like__btn {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      color: $accent-color;
      text-decoration: none;
    }
  }
  .photo-like__btn .icon--heart {
    fill: $accent-color;
    margin: -2px 0 0 1px;
  }
  .photo-like__quantity {
    margin-left: 17px;
  }

  &--pano {
    width: 100%;
    position: relative;
    &:before {
      content: "Панорама дня";
      background: $accent-color;
      color: $light-color;
      text-transform: uppercase;
      display: block;
      font: $bold-font;
      font-size: 12px;
      line-height: 36px;
      padding: 0px 19px 0px 20px;
      position: absolute;
      right: 20px;
    }
    .photo-post__picture-wrapper {
      height: auto;
    }
    .photo__info {
      width: 280px;
      margin: 0 auto;
    }
  }
}
.photos-upload {
  background-color: $light-bg-color;
  padding: 20px 0;
  &__item,
  &__edit {
    padding: 0 20px;
    position: relative;
  }
  &__item {
    width: 280px;
    height: 374px;
    margin: 0 auto;
    .photo {
      width: 100%;
      height: 100%;
    }
  }
}
.range-filter {
  position: relative;
  .scale,
  .bar {
    width: 100%;
    height: 2px;
    background: $dark-color;
  }
  .bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .toggle {
    position: absolute;
    background: $light-color;
    border: 2px solid $accent-color;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    box-sizing: border-box;
    top: -6px;
    left: 80.5%;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background: $accent-color
    }
  }
}
.edit__tab {
  padding: 33px 40px;
  &--fill {
    .toggle {
      left: 30.5%;
    }
  }
  &--contrast {
    .toggle {
      left: 53.5%;
    }
  }
}
.upload__buttons {
  margin-top: 19px;
  padding: 20px;
  .btn {
    width: 100%;
    &--post {
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 659px) {
  .photos-upload__edit {
    border-bottom: 1px solid rgba($base-color, 0.1);
    width: 280px;
    margin: 0 auto;
    min-height: 160px;
  }
  .edit__tab {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    .icon {
      position: absolute;
      top: 40px;
      left: 56px;
      visibility: visible;
      fill: rgba($base-color, 0.3);
      &:hover {
        fill: rgba($base-color, 0.5);
        cursor: pointer;
      }
    }

    &--selected, {
      .icon,
      .icon:hover {
        fill: $accent-color;
      }
    }
    &--fill {
      visibility: hidden;
      .icon {
        top: 42px;
        left: 50%;
        margin-left: -24px;
      }
    }
    &--contrast {
      visibility: hidden;
      .icon {
        top: 48px;
        left: auto;
        right: 64px;
      }
      path {
        fill: rgba($base-color, 0.3);
      }
    }
    &--contrast:hover {
      path {
        fill: rgba($base-color, 0.5);
      }
    }
    &--contrast.edit__tab--selected,
    &--contrast.edit__tab--selected:hover {
      path {
        fill: $accent-color;
      }
    }
  }
  .range-filter {
    margin-top: 92px;
  }
}
@media (min-width: 660px) {
  .photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;;
    overflow: hidden;
    width: 620px;
    margin: 0 auto;
  }
  .photo-post {
    width: 300px;
    margin: 0 0 20px;
    .photo-post__picture-wrapper {
      height: 300px;
    }
    &.photo-post--pano {
      width: 100%;
      margin: 0 0 50px;
      &:before {
        right: 40px;
        top: 57px;
      }
      .photo-post__picture-wrapper {
        height: 509px;
      }
      .photo__info {
        display: flex;
        flex-wrap: wrap;
        width: 620px;
        padding: 24px 28px;
        .photo__author {
          order: 1;
          margin-right: 2px;
        }
        .photo__date {
          order: 2;
        }
        .photo-like__btn {
          order: 3;
          justify-content: flex-start;
        }
        .photo__comment {
          order: 4;
          margin: 0px 0 1px;
        }
      }
    }
    .photo__info {
      padding: 24px 28px 22px;
    }
    .photo__comment {
      margin: -1px 0 13px;
      min-height: 48px;
    }
    .photo-like__btn {
      flex-direction: row-reverse;
      justify-content: space-between;
      flex: 1;
      padding-right: 3px;
    }
    .photo-like__quantity {
      font-size: 12px;
      margin: 0 18px 0 0;
    }
  }
  .photos-upload {
    padding: 57px 40px 54px;
    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
    }
    &__item {
      margin-right: 45px;
      width: 300px;
      height: 400px;
      padding: 0;
    }
    &__edit {
      width: 44.3549%;
      height: 220px;
      padding: 19px 0 0;
      border: none;
    }
  }
  .upload-control {
    display: none;
  }
  .edit__tab {
    display: block;
    padding: 0 18px 34px 55px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba($base-color, 0.1);
    position: relative;
    .icon {
      width: 26px;
      height: 24px;
      display: block;
      position: absolute;
      left: 1px;
      top: -11px;
      fill: $accent-color;
    }
    .toggle {
      left: 72.5%;
    }
    &--fill {
      margin-bottom: 33px;
      .icon {
        width: 24px;
        height: 24px;
        left: 3px;
        top: -9px;
      }
      .toggle {
        left: 12.5%;
      }
    }
    &--contrast {
      .icon {
        width: 16px;
        height: 22px;
        left: 8px;
        top: -10px;
      }
      path {
        fill: $accent-color;
      }
      .toggle {
        left: 47.5%;
      }
    }
  }
  .upload__buttons {
    width: 260px;
    margin: 0 0 0 2px;
    padding: 0;
    .btn--post {
      margin-bottom: 24px;
    }
  }
}
@media (min-width: 960px) {
  .photos {
    width: 940px;
  }
  .photo-post {
    margin-bottom: 53px;
    .photo-post__picture-wrapper {
      height: 400px;
    }
    .photo__info {
      padding: 19px 27px 24px 29px;
      .photo__comment {
        margin: -4px 0 13px
      }
    }
    &.photo-post--pano {
      .photo-post__picture-wrapper {
        height: 506px;
      }
      .photo__info {
        width: 940px;
        padding: 20px 27px 20px 29px;
        align-items: center;
        .photo__comment {
          margin: -4px 0 0;
          min-height: 28px;
        }
      }
    }
  }
  .container {
    max-width: 100%;
  }
  .photos-upload {
    box-sizing: border-box;
    padding: 58px 60px 56px 81px;
    margin-bottom: 29px;
    &__item {
      margin-right: 90px;
    }
    &__edit {
      width: 410px;
      padding-top: 18px;
    }
  }
  .edit__tab {
    padding: 0 29px 34px 91px;
    .icon {
      width: 48px;
      height: 48px;
      left: -2px;
      top: -23px;
    }
    .toggle {
      left: 24.5%;
    }
    &--fill {
      .icon {
        width: 48px;
        height: 48px;
        left: 0;
        top: -21px;
      }
      .toggle {
        left: 85.5%;
      }
    }
    &--contrast {
      .icon {
        width: 32px;
        height: 32px;
        left: 6px;
        top: -15px;
      }
      .toggle {
        left: 55.5%;
      }
    }
  }
  .upload__buttons {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin: 0 0 1px -1px;
    .btn {
      width: 182px;
    }
    .btn--post {
      margin-bottom: 0;
    }
  }
}
