@media (min-width: 320px) {
  .social {
    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    &__item {
      list-style: none;
      margin-right: 12px;
      &:last-child {
        margin: 0;
      }
    }
    &__link {
      display: block;
      width: 51px;
      height: 51px;
      border-radius: 51px;
      overflow: hidden;
      border: 3px solid rgba($base-color, 0.1);
      box-sizing: border-box;
    }
  }
}

@media (min-width: 700px) {
  .social {
    width: 320px;
  }
}
