$base-font: 400 14px/24px 'Open Sans', sans-serif;
$base-color: #283645;
$light-color: #fff;
$dark-color: #000;
$accent-color: #d22856;
$light-bg-color: #f2f2f2;
$base-border-color: #e5e5e5;
$success-color: #2aab6d;
