@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/opensans.woff2) format(woff2),
      url(../fonts/opensans.woff) format(woff);
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/opensanslight.woff2) format(woff2),
      url(../fonts/opensanslight.woff) format(woff);
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/opensansbold.woff2) format(woff2),
      url(../fonts/opensansbold.woff) format(woff);
}

$base-font: 14px/24px "Open Sans", "Tahoma", sans-serif;
$light-font: 14px/24px "Open Sans Light", "Tahoma", sans-serif;
$bold-font: 14px/24px "Open Sans Bold", "Tahoma", sans-serif;
$base-color: #283645;
$light-color: #fff;
$dark-color: #000;
$accent-color: #d22856;
$light-bg-color: #f2f2f2;
$base-border-color: #e5e5e5;
$success-color: #2aab6d;
